body {
    /* font-family: "Open Sans", sans-serif; */
    
    font-family: 'Poor Story', cursive;
    margin: auto;
    background-image: url('briks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    
    
}
/* #profile-pic {
    height: 350px;
    width: 300px;
    border-radius: 100px;
    border: 5px solid #3B3C37;
  
} */
nav {
   display: flex;
   position:fixed;
   justify-content: space-around;
   background-color: rgb(084, 084, 080);
   z-index: 5;
   width: 100%;  

}



a {
  color: rgb(255, 250, 240);
  text-decoration: none;
}

a:hover {
  color: red;
  cursor: pointer;
}
 

.nav-items {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    color: rgb(255, 250, 240);
}

.nav-buttons {
   margin-left: 100px;
   margin-right: 100px;
   padding-left: 30px;
   padding-right: 30px;
   text-align: center;
   width: 150px;
   font-size: 1.5rem;
  
    
}


* {
  box-sizing: border-box;
}


.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2em;
  font-family: 'Poor Story', cursive;
}
.item {
  width: 35%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.container {
    display: flex;
    margin: auto;
    max-width: 700px;
    max-height: 650px;
    background-color: rgba(084, 084, 080,0.8);
}
#about-me {
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 700px;
    height: 650px;
    background-color: rgba(084, 084, 080,0.8);
    
}
#projects {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 700px;
  height: 650px;
  background-color: rgba(084, 084, 080,0.8);
  
}
#skill-set {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 700px;
  height: 650px;
  background-color: rgba(084, 084, 080,0.8);
  
}

h1 {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
    font-size: 2.2rem;
    color: rgb(255, 250, 240);

}

h2 {
  
  font-size: 2rem;
  color: rgb(255, 250, 240);
  

}

em {
    color: red;
    font-weight:bold;
}

.profile {
    margin: auto;
    position: relative;
    text-align: center;
    height: 800px;
    width: 800px;
    padding-top: 50px; 

}

footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #3B3C37;

}