@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


body {
    /* font-family: "Open Sans", sans-serif; */
    
    /* font-family: 'Poor Story', cursive; */
    font-family: "Nunito Sans", sans-serif;
    margin: auto;
    background-color: rgb(24, 24, 27);
    background-image: url('nasa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
}

.nav-items {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 25px 0;
  position: fixed;
  z-index: 5;
  /* border-radius: 25px; */
  /* border: 0.1px solid #099FFF; */
  background-color: #18181B;
  box-shadow: 0 4px 8px 0 rgba(0, 255, 255,0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-buttons {
  margin: auto;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.nav-buttons:after {
  display: block;
  content: '';
  border-bottom: solid 1px #00FFFF;
  padding-bottom: 1%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.nav-buttons:hover:after {
  transform: scaleX(1);
}
/* #profile-pic {
    height: 350px;
    width: 300px;
    border-radius: 100px;
    border: 5px solid #3B3C37;
  
} */
/* nav {
   display: flex;
   position:fixed;
   justify-content: space-around;
   background-color: rgb(084, 084, 080);
   z-index: 5;
   width: 100%;  

} */
ul {
  list-style: none;
}

li {
  display: inline-block;
}


 a {
  color: rgb(255, 250, 240);
  text-decoration: none;
 }


a:hover {

  cursor: pointer;
}
  */

/* .nav-items {
  
} */

/* .nav-buttons {
   margin-left: 100px;
   margin-right: 100px;
   padding-left: 30px;
   padding-right: 30px;
   text-align: center;
   width: 150px;
   font-size: 1.5rem;
}
   */
    


.nav-buttons:after {
  display: block;
}

.nav-buttons:hover:after {
  transform: scaleX(1);
}


* {
  box-sizing: border-box;
}


.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  
}
.polaroid > img{
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2em;
  font-family: 'Poor Story', cursive;
}
.item {
  width: 35%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

.container {
    display: flex;
    margin: auto;
    width: 700px;
    height: 680px;
    background-color:rgba(24, 24, 27, 0.8);
}
#about-me {
  
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 700px;
    height: 650px;
    background-color: rgba(24, 24, 27, 0.8);
    
}
#projects {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 700px;
  height: 650px;
  background-color: rgba(24, 24, 27, 0.8);
  
}
#skill-set {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 700px;
  height: 650px;
  background-color: rgba(24, 24, 27, 0.8);
  
}

h1 {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 500px;
    font-size: 2.2rem;
    color: rgb(255, 250, 240);

}

h2 {
  
  margin-left: 25px;
  font-size: 2rem;
  color: rgb(255, 250, 240);
  
}

p {
  /* margin-top: 100px;
  margin-left: -50px; */
    /* width: 500px; */
    font-size: 1.5rem;
    color: rgb(255, 250, 240);


}

#about-me  p {
  margin-top: 100px;
  max-width: 500px;
  margin-left: -50px;
  
}

#projects  p {
  margin-top: 100px;
  max-width: 500px;
 
  
}


h2 {
  white-space: nowrap;
}

h3 {
  white-space: nowrap;
  font-size: 1.5rem;
  color: rgb(255, 250, 240);
}

li img {
  max-width: 50px;
  max-height: 50px;
}

em {
    color: #00FFFF;
    font-weight:bold;
}

.profile {
    margin: auto;
    position: relative;
    text-align: center;
    height: 800px;
    width: 800px;
    padding-top: 50px; 

}

footer {
  
    /* bottom:0;
    left:0; */
    width:100%;
    height: 10%;
    background-color: rgb(24, 24, 27);

}